<% layout('layout') -%>

<div class="container-fluid">

	<div class="row">

		<div class="col-12 mt-4">

			<div class="card text-center">

				<div class="card-header">

					<i class="fas fa-info-circle fa-2x"></i><strong> Ayuntamientos </strong>

				</div>

				<div class="card-body">

					<% if (ayuntamientos.length != 0) { %>

						<table class="table table-striped text-center">

							<thead>

								<tr>

									<th> Nombre </th>
									<th> Email </th>
									<th> INE </th>
									<th> Codigo agente </th>

								</tr>

							</thead>

							<tbody>

								<% for (ayuntamiento in ayuntamientos) { %>

									<tr>

										<td><%- ayuntamientos[ayuntamiento].nombre %></td>
										<td><%- ayuntamientos[ayuntamiento].email %></td>
										<td><%- ayuntamientos[ayuntamiento].ine %></td>
										<td><%- ayuntamientos[ayuntamiento].codigoAgente %></td>

									</tr>

								<% } %>

							</tbody>

						</table>

					<% } else { %>

						<p>No hay ningun ayuntamiento</p>

					<% } %>

				</div>

			</div>

		</div>

	</div>

</div>
