<% layout('layout') -%>
<% script('js/editarIncidencia.js') -%>

<div class="container-fluid">

	<div class="row">

		<div class="col-12 mt-4">

			<div class="card">

				<div class="card-header text-center">

					<i class="fas fa-info fa-2x"></i> Información del Proyecto

				</div>

				<div class="card-body">

					<h5 class="card-title text-center"> Edicion de incidencia </h5>

					<form id="editarIncidencia" enctype="multipart/form-data">

						<div class="form-row mb-4">

							<div class="col">

								<input type="text" id="texto_incidencia" name="texto_incidencia" class="form-control" placeholder="Texto incidencia" maxlength="300" value="<%- incidencia.texto_incidencia %>" required>

							</div>

						</div>

						<div class="form-row mb-4">

							<div class="col">

								<input type="text" id="texto_solucion" name="texto_solucion" class="form-control" placeholder="Texto solucion" maxlength="300" value="<%- incidencia.texto_solucion %>">

							</div>

							<div class="col">

								<label for="resuelta"> Resuelta </label>

								<% if (incidencia.resuelta) { %>

									<input type="checkbox" name="resuelta" checked id="resuelta" />

								<% } else { %>

									<input type="checkbox" name="resuelta" id="resuelta" />

								<% } %>

							</div>

						</div>

						<input id="id" type="hidden" name="id" value="<%- incidencia._id %>">
						<input id="imagenOriginal" type="hidden" name="imagenOriginal" value="<%- incidencia.foto %>">

						<button class="btn btn-info my-4 btn-block" type="submit">Actualizar incidencia</button>

					</form>

				</div>

			</div>

		</div>

	</div>

</div>