<% layout('layout') -%>

<div class="container-fluid">

	<div class="row">

		<div class="col-12 mt-4">

			<div class="card">

				<div class="card-header text-center">

					<i class="fas fa-info fa-2x"></i> Información del Proyecto

				</div>

				<div class="card-body">

					<h5 class="card-title text-center">SCQNotifyer</h5>

					<p class="card-text">

						SCQNotifyer es una aplicación que permite a cualquier ciudadano notificar incidencias encontradas en la ciudad.<br/>Por incidencias nos referimos por ejemplo a:

						<ul>

							<li>Papeleras rotas</li>
							<li>Baches en las calles</li>
							<li>Luces que no funcionan</li>
							<li>Alcantarillado en mal estado</li>
							<li>Sugerencias de cambios</li>
							<li>Señalizaciones caídas o en mal estado, incorrectas, etc..</li>
							<li>Fallo de luces en semáforos</li>
							<li>Árboles caídos</li>
							<li>Daños en jardines</li>
							<li>Etc...</li>

						</ul>

					</p>

				</div>

			</div>

		</div>

	</div>

</div>
